<div class="bg-gray-100 py-20 md:py-8">
    <div class="main-container pt-10 md:pt-32">
        <h2 class="text-5xl text-center font-bold text-gray-900">App preview</h2>
        <p class="text-xl text-center py-8">Your can find the full design on <a target="_blank" href="https://www.figma.com/community/file/1428054838312216377/open-hybrid-smartwatch-app" class="font-semibold">Figma</a></p>
    </div>
    <div class="main-container flex flex-col md:flex-row md:pb-14">
        <div class="basis-1/3 items-center pt-10 md:pt-0">
            <figure class="mx-auto w-72 h-auto">
                <img class="w-full rounded-xl" 
                    src="/assets/images/index/home.png" 
                    alt="home screen app"
                />
            </figure>
        </div>
        <div class="basis-1/3 items-center pt-10 md:pt-0">
            <figure class="mx-auto w-72 h-auto">
                <img class="w-full rounded-xl" 
                    src="/assets/images/index/activity.png" 
                    alt="home screen app"
                />
            </figure>
        </div>
        <div class="basis-1/3 items-center pt-10 md:pt-0">
            <figure class="mx-auto w-72 h-auto">
                <img class="w-full rounded-xl" 
                    src="/assets/images/index/settings.png" 
                    alt="home screen app"
                />
            </figure>
        </div>
    </div>
</div>