<div class="main-container divide-solid divide-y">
    <div class="flex flex-col pt-20 pb-32">
        <div class="py-10">
            <h2 class="text-5xl text-center font-bold">Features</h2>
        </div>
        <div class="flex flex-col md:flex-row justify-items-center">
            <div class="flex-1 md:px-2 pt-10 md:pt-0 justify-center">
                <ul class="space-y-1">
                    <li class="font-semibold">Activity tracking</li>
                    <li>Count steps, calories burnt, walked distance</li>
                    <li class="pt-4 font-semibold">Sleep trackings</li>
                    <li>Sleep quality: awake, light, deep, duration, overall score</li>
                    <li class="pt-4 font-semibold">Heart rate tracking</li>
                    <li>Tracks your beats per minute, peak and low points</li>
                </ul>
            </div>
            <div class="flex-1 md:px-2 pt-10 md:pt-0 justify-center">
                <ul class="space-y-1">
                    <li class="font-semibold">Watch info</li>
                    <li>Battery level, change bluetooth name</li>
                    <li class="pt-4 font-semibold">Device Finder</li>
                    <li>Alarm to inform the user of the risk of loss if devices get far from each others, make the smartphone ring to locate it</li>
                </ul>
            </div>
        </div>
    </div>
    <div></div>
</div>