<div class="main-container">
    <div class="flex flex-col items-center pt-16 pb-12 py-10 px-0 md:px-14 md:pb-36">
        <h1 class="text-4xl font-semibold text-slate-500">Open source
        <span class="text-4xl font-bold text-slate-800">Analog Smartwatch</span></h1>
        <h2 class="text-xl pt-3">An open source project to create an <span class="font-semibold">hybrid</span> smartwatch.</h2>
    </div>
    <div class="flex justify-center">
            <img class="object-cover h-auto w-96" 
                src="/assets/images/index/intro.png" 
                alt="analog smartwatch project"
            />
    </div>
</div>