<div class="main-container pt-6 pb-36">
    <div class="pt-24 pb-14 text-center">
        <h2 class="text-3xl font-bold">Components</h2>
        <p>Specifications proposal, subject to changes</p>
    </div>
    <div class="flex flex-col md:flex-row justify-items-center">
        <div class="flex-1 md:px-2 pt-10 md:pt-0 justify-center">
            <ul class="space-y-1">
                <li class="font-semibold">Display time</li>
                <li>Ronda gearbox GB22</li>
                <li class="pt-4 font-semibold">Microcontroller</li>
                <li>nRF52832 (nRF52 DK devkit for prototype)</li>
                <li class="pt-4 font-semibold">Clock</li>
                <li>DS3231MZ</li>
                <li class="pt-4 font-semibold">Power Management</li>
                <li>nPM1100</li>
                <li class="pt-4 font-semibold">Sleep tracking</li>
                <li>Accelerometer: BMA400</li>
            </ul>
        </div>
        <div class="flex-1 md:px-2 pt-10 md:pt-0 justify-center">
            <ul class="space-y-1">
                <li class="font-semibold">Heart Rate Monitor</li>
                <li>Optical Sensor: BH1790GLC</li>
                <li class="pt-4 font-semibold">Watch skeleton</li>
                <li>Watch Case Butterfly on Aliexpress</li>
                <li class="pt-4 font-semibold">Battery</li>
                <li>Round LiPo like LP403535</li>
                <li class="pt-4 font-semibold">Charger</li>
                <li>To be defined</li>
            </ul>
        </div>
    </div>
</div>