<!DOCTYPE html>
<html lang="en">
  {% include "partials/_head-n1.njk" %}
  <body class="font-sans leading-normal tracking-normal text-gray-700">
    <main>
      {% include "partials/_menu.njk" %}
      {% block content %}
        {{ content | safe }}
      {% endblock %}
      {% include "partials/_footer.njk" %}
    </main>
    <script defer src="/js/alpine.js?v=3.10.4"></script>
  </body>
</html>