<!DOCTYPE html>
<html lang="en">
    {% include "partials/_head-n3.njk" %}
    <body class="font-sans leading-normal tracking-normal text-gray-700">
        <main>
            {% include "partials/_menu.njk" %}
            <main class="font-sans leading-normal tracking-normal pb-10 main-container">
                {% block content %}
                    <div class="flex justify-center pt-0 lg:pt-8">
                        <article class="prose lg:prose-xl">
                            <h1 class="font-bold mt-12 mb-10">
                                {{ title }}
                            </h1>
                            {{ content | safe }}
                        </article>
                    </div>
                {% endblock %}
                {% include "partials/_footer.njk" %}
            </main>
        </main>
        <script defer src="/js/alpine.js?v=3.10.4"></script>
    </body>
</html>