---
layout: base
title: Home
tags: page
order: 1
---

{% include "partials/index/_intro.njk" %}

<div class="divide-solid divide-y main-container">
  {% include "partials/index/_features.njk" %}
</div>

{% include "partials/index/_watch-components.njk" %}

{% include "partials/index/_app-preview.njk" %}

{% include "partials/index/_help.njk" %}
