<footer class="text-black pb-20 pt-14 sm:pt-20 md:pt-32 main-container flex-row md:flex px-2 md:px-0">
  <div class="pt-1 pb-3 md:pb-0 text-center md:text-left">
    <p class="text-gray-500 inline-block align-middle">{{site.author}} - GNU General Public License v3.0</p>
  </div>
  <div class="flex-1"></div>
  <div class="flex-none mt-4 md:mt-0">
    <div class="flex justify-around items-center space-x-2 md:space-x-6">
      <a aria-label="email" target="_blank" href="{{site.email_url}}">
        <svg class="fill-gray-500 hover:hover-link" width="28px" height="28px">{% svg "email" %}</svg>
      </a>
      <a aria-label="github" target="_blank" href="{{site.github_url}}">
          <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "github" %}</svg>
      </a>
    </div>
  </div>
</footer>